<div class="experience-container">
  <h1><b>EXPERIENCE</b></h1>

  <mat-card class="experience-card">
    <mat-card-header>
      <div class="experience-header">
        <div>
          <span class="date-range">Sep 2023 - Sep 2024</span>
        </div>
        <div class="job-title">
          Graphic Designer · Thaipipat Tool and Homart Co., Ltd.
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <p>
        Designed product graphics and promotional content for online platforms.
        Proficient in Adobe Photoshop and Illustrator. Collaborated with the
        marketing team to create brand-aligned visuals.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <div class="skills">
        <div class="chip-list">
          <div class="chip">Photoshop</div>
          <div class="chip">Illustrator</div>
          <div class="chip">Sketchup</div>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="experience-card">
    <mat-card-header>
      <div class="experience-header">
        <div>
          <span class="date-range">Nov 2022 - Jun 2023</span>
        </div>
        <div class="job-title">
          Intern Software Developer, QA · Draco Venture Co., Ltd.
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <p>
        Responsible for creating web form pages for data entry using the Angular
        Framework. Connected the Firebase database to the newly created website.
        Verified the accuracy of UX/UI according to specified procedures.
        Reported the results to the UX/UI designer and developer.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <div class="skills">
        <div class="chip-list">
          <div class="chip">Angular</div>
          <div class="chip">HTML</div>
          <div class="chip">CSS</div>
          <div class="chip">TypeScript</div>
          <div class="chip">Angular Material</div>
          <div class="chip">Firebase</div>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
