<div class="projects-container">
  <h1><b>PROJECTS</b></h1>
  <div class="container-items">
    <mat-card appearance="outlined" class="projects-left-1">
      <img class="left-1" src="assets/images/mock-template.png" alt="">
      <mat-card-content>Project1</mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="projects-right-1">
      <img class="right-1" src="assets/images/mock-template.png" alt="">
      <mat-card-content>Project2</mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="projects-left-2">
      <img class="left-2" src="assets/images/mock-template.png" alt="">
      <mat-card-content>Project3</mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="projects-right-2">
      <img class="right-2" src="assets/images/mock-template.png" alt="">
      <mat-card-content>Project4</mat-card-content>
    </mat-card>
  </div>
</div>
